{
  email admin@easydev.in
}

{$GATEWAY_PUBLIC_HOST} {
  reverse_proxy easydev-web-agency-backend:3300
}

{$IAM_PUBLIC_HOST} {
  reverse_proxy easydev-iam-platform:3301
}

{$PAYMENT_PUBLIC_HOST} {
  reverse_proxy easydev-payment-service:3302
}
